.topic__container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    color: #222831;

    font-style: normal;
}
.first_block__info p img,.second_block__info p img{
width: 50px;
}
.first_topic__block{
    width: 50%;
}
.second_topic__block{
    width: 50%;
}
.first_topic_main__text{
    font-size: 45px;
    font-weight:  700;
    margin-bottom: 20px;
    color: #222831;

}
.first_topic_content__wrap{
    width: 70%;
    margin-left: auto;
    margin-top: 7%;
    margin-right: 20px;
}
.first_topic_secondary__text{
    font-weight:  300;
    margin-bottom: 40px;
    color: #222831;

    
}
.submit__btn{
    background-color: #02adb5;
    padding: 14px 20px;
    border-radius: 7px;
    border: 0;
    color: white;
    font-weight: 200;
    font-size: 13px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.5s;
}
.submit__btn:hover{
    box-shadow: 0 5px 10px #01bec8;
}
.second_topic_main__image{
    width: 99%;
    height: 100%;
    border-radius: 10px;
}
.topic_block__container{
    display: flex;
    flex-direction: row;
}
.first_block__info{
    width: 50%;
    background-color: rgb(229, 229, 229);
    margin-right: 20px;
    padding: 15px;
    border-radius: 10px;

}
.second_block__info{
    width: 50%;
    background-color: rgb(229, 229, 229);
    padding: 15px;
    border-radius: 10px;
}
.second_topic__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    color: #222831;

}
.second_topic_first__block,
.second_topic_second__block,
.second_topic_third__block{
    width: 20%;
    background-color: rgb(229, 229, 229);
    padding: 40px;
    border-radius: 10px;
}
.second_topic_first__block{
    margin-right: 20px;
}
.second_topic_third__block{
    margin-left: 20px;
}

.second_topic_first__text,
.second_topic_second__text,
.second_topic_third__text{
    font-weight:  700;
    margin-bottom: 10px;
}
.second_topic_second__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.second_topic__container img{
    width: 80px;
    height: 80px;
}
.client_score__topic{
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 50px;
    color: #222831;

}

.client_scores__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    color: #222831;

}
.first_score,.second_score{
    width: 500px;
}
.first_score{
    margin-right: 30px;
}
.score_first__line{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.first_client__avatar{
    width: 60px;
    margin-right: 10px;
}
.second_client__avatar{
    width: 60px;
    margin-right: 10px;
}
.score_first__item,.score_second__item{
    display: flex;
    flex-direction: row;
}

.score_star__list{
list-style: none;
display: flex;
}
.score_star__list img{
    width: 30px;
    height: 20px;
}
.second_score__title,.first_score__title{
    margin-top: 20px;
    font-weight: 700;
}
.first_score__text,.second_score__text{
    margin-top: 10px;
}
.client_score__text{
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 50px;
    color: #222831;

}
.often_question__title{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    color: #222831;

}
.often_question__text
{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: #222831;

}
.faq_container {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    font-size: 20px;
    border: 1px solid grey;
    width: 800px;
    border-radius: 8px;
    margin: 0 auto;
    color: #222831;

}

.faq_item {
    border-bottom: 1px solid grey;
    padding: 15px;
    width: 96%;
}

.faq_question {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #222831;

}

.faq_answer {
    padding: 15px;
    display: none;
}

.faq_item .faq_answer {
    display: block;
}

.contacts_block__title{
    display: flex;
    width: 70%;
    margin: 50px auto;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    font-size: 50px;
    color: #222831;
}
.contacts_block__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}
.contacts_block__container div{
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    font-style: normal;
    font-size: 15px;
    color: #222831;
}
.contacts_block__container div p{
    margin-top: 10px;
}