a {
    cursor: pointer;
  }
  .AuthModal_background {
    position: absolute;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .AuthModal_card {
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    background-color: white;
    padding: 25px;
    width: 400px;
    border-radius: 20px;
  }
  
  .LoginRegisterToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    color: grey;
  }
  
  .LoginRegisterToggle > a {
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .LoginRegisterToggle > a:hover {
    color: black;
  }
  
  .selected {
    color: black;
  }
  
  .Email_area_container,
  .Password_area_container,
  .Name_area_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-size: 1rem;
  }
  
  .inputWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .Email_area,
  .Name_area,
  .Password_area {
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    border: none;
    width: 100%;
    padding: 10px 0;
    transition: all 0.2s;
    background: none;
    border-bottom: 1px solid black;
  }
  .Password_area {
    padding-right: 30px;
  }
  
  .placeholderLabel {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: grey;
    transition: all 0.2s;
    pointer-events: none;
  }
  
  .eyeButton {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 120%;
  }
  
  .Email_area:focus,
  .Name_area:focus,
  .Password_area:focus {
    outline: none;
    border-bottom: 1px solid green;
  }
  
  .Email_area:focus + .placeholderLabel,
  .Email_area:not(:placeholder-shown) + .placeholderLabel,
  .Name_area:focus + .placeholderLabel,
  .Name_area:not(:placeholder-shown) + .placeholderLabel,
  .Password_area:focus + .placeholderLabel,
  .Password_area:not(:placeholder-shown) + .placeholderLabel {
    top: 0;
    font-size: 0.8rem;
    color: green;
  }
  .Password_area:focus ~ .eyeButton {
    color: green;
  }
  
  .close {
    display: flex;
    justify-content: end;
  }
  
  .closeImage {
    height: 1.5rem;
    cursor: pointer;
  }
  
  .closeButton {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589f;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
  }
  
  .FortgotPass_container {
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .FortgotPass_container > a {
    color: rgba(46, 98, 46, 0.7);
  }
  
  .FortgotPass_container > a:hover {
    color: rgb(116, 197, 116);
  }
  
  .LoginBtn_container,
  .RegisterBtn_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .Registration_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .RegisterPoliticy {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    color: grey;
    width: 300px;
  }
  
  .RegisterPoliticy > a {
    color: blue;
  }
  
  .RegisterPoliticy > a:hover {
    color: green;
  }
  .AuthModal_card:focus {
    outline: none;
  }
  .Error_area {
    font-size: 10px;
    color: red;
  }
  .buttonEnabled {
    width: 300px;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    background: none;
    border: none;
    padding: 5px 40px;
    font-size: 1.5rem;
    background-color: rgba(136, 226, 139, 0.4);
    border-radius: 1em;
    cursor: pointer;
    cursor: pointer;
    background-color: rgba(136, 226, 139, 0.4);
    transition: background-color 0.3s;
  }
  
  .buttonEnabled:hover {
    background-color: rgba(136, 226, 139, 0.8);
  }
  .buttonEnabled:active {
    background-color: rgba(136, 226, 139, 1);
  }
  .buttonDisabled {
    width: 300px;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    background: none;
    border: none;
    padding: 5px 40px;
    font-size: 1.5rem;
    border-radius: 1em;
    cursor: pointer;
    cursor: not-allowed;
    background-color: #ccc !important;
  }
  .register_politicy {
    font-size: 15px;
    max-width: 300px;
  }
  .register_politicy a {
    color: green;
  }
  .register_politicy a:hover {
    color: rgba(136, 226, 139, 1);
  }
  .Error_text {
    display: flex;
    font-size: 12px;
    color: red;
  }
  .login_form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  