.content__wrap {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.services__title {
  display: flex;
  width: 100%;
  justify-content: center;
}
.services__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  border-radius: 15px;
}
.service {
  display: flex;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
}
.service:first-child {
  border-radius: 10px 10px 0 0;
}
.service:last-child {
  border-radius: 0 0 10px 10px;
}

.services__list {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

.services__list li {
  width: 50%;
  display: flex;
  justify-content: center;
}

.services__list li:first-child,
.services__list li:last-child {
  width: 25%;
}
